<div *ngIf="post$ | async as post; else loading">
    <div class="post-page-container">
        <div class="post-page-title-container">
            <h1>{{ post.title }}</h1>
            <button class="btn" [routerLink]="['/']">To main</button>
        </div>
        <div class="post-page-info-container">
            <strong class="post-page-author">{{ post.author }}</strong>
            <small>{{ post.date | date: 'medium': null : 'ru' }}</small>
        </div>
        <div class="post-page-content-container">
            <quill-view-html [content]="post.text"></quill-view-html>
        </div>
    </div>
</div>

<ng-template  #loading>
    <h1>Loading ...</h1>
</ng-template>
