.post-page-container {
    width: 80%;
    border: 2px solid grey;
    padding: 10px;
    margin: 0 auto;
}

.post-page-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.post-page-info-container {
    margin-bottom: 20px;
}

.post-page-author {
    margin-right: 20px;
}

.post-page-content-container {
    font-style: italic;
}
