<div class="post-page-container">
    <div class="post-page-title-container">
        <h1>Post title</h1>
        <button class="btn" [routerLink]="['/']">To main</button>
    </div>
    <div class="post-page-content-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum error harum iusto. Amet aperiam
            atque culpa cumque doloremque inventore laudantium magni nulla obcaecati, quae quas similique, ullam ut
            voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum error harum iusto. Amet aperiam
            atque culpa cumque doloremque inventore laudantium magni nulla obcaecati, quae quas similique, ullam ut
            voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum error harum iusto. Amet aperiam
            atque culpa cumque doloremque inventore laudantium magni nulla obcaecati, quae quas similique, ullam ut
            voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum error harum iusto. Amet aperiam
            atque culpa cumque doloremque inventore laudantium magni nulla obcaecati, quae quas similique, ullam ut
            voluptates?</p>
    </div>
    <div class="post-page-info-container">
        <strong>Author </strong>
        <small>12.09.2019</small>
    </div>
</div>
