<form class="form-container" [formGroup]="postsForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
        <label for="title">Title:</label>
        <input class="form-input"
               type="text"
               id="title"
               formControlName="title"
               [ngClass]="{'form-control-error': postsForm.get('title').touched && postsForm.get('title').invalid}"
        >
        <div class="form-validation"
             *ngIf="postsForm.get('title').touched && postsForm.get('title').invalid">
            <small *ngIf="postsForm.get('title').errors.required">Title is empty</small>
        </div>
    </div>
    <div class="form-field">
        <quill-editor formControlName="text"></quill-editor>
    </div>
    <div class="form-field">
        <label for="author">Author:</label>
        <input class="form-input"
               type="text"
               id="author"
               formControlName="author"
               [ngClass]="{'form-control-error': postsForm.get('author').touched && postsForm.get('author').invalid}"
        >
        <div class="form-validation"
             *ngIf="postsForm.get('author').touched && postsForm.get('author').invalid">
            <small *ngIf="postsForm.get('author').errors.required">Author is empty</small>
        </div>
    </div>
    <button type="submit" class="btn" [disabled]="!postsForm.valid">Create post</button>
</form>
