.nav-container {
    padding: 10px;
    background-color: dodgerblue;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-title {
    color: white;
    text-transform: uppercase;
}
