/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

.btn {
    padding: 10px;
    width: 200px;
    border: 2px solid grey;
}

.btn-delete {
    background-color: crimson;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: whitesmoke;
    margin-left: 20px;
}


/*form styles*/

.form-container {
    width: 600px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
}

.form-field {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid grey;
}

.form-validation {
    color: crimson;
    font-size: 18px;
}

.form-control-error {
    border: 2px solid crimson;
}

.errorMessage {
    background-color: crimson;
    padding: 20px;
    color: whitesmoke;
    width: 32%;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.warningMessage {
    background-color: orange;
    padding: 20px;
    color: whitesmoke;
    width: 32%;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.form-heading {
    text-align: center;
}

/*table*/

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid grey;
}

table th,
table td {
    padding: 5px;
    text-align: left;
}

table th {
    background: #f4f4f4;
}
